$black: rgb(15, 17, 14);
$white: rgb(245, 250, 245);
$primary: rgb(98, 186, 90);
$secondary: rgb(142, 222, 135);
$accent: rgb(103 230 92);

$content-margin: 16px;

$radius-inner: 8px;
$radius-outer: 16px;
